<div class="header-actividad">
    <div class="titulo">
        <h2>
            <b>Chat</b>
        </h2>
    </div>
</div>
<div class="container-fluid">
    <!-- Content wrapper start -->
    <div class="content-wrapper">
        <!-- Row start -->
        <div class="row gutters">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card m-0">
                    <!-- Row start -->
                    <div class="row no-gutters">
                        <div class="col-xl-4 col-lg-4 col-md-4 col-sm-3 col-3">
                            <div class="users-container">
                                <ul class="users">
                                    <li class="person" data-chat="person1">
                                        <div class="user">
                                            <img src="../../img/profile.jpeg" alt=" ">
                                        </div>
                                        <p class="name-time">
                                            <span class="name">Luis Fernando Vazquez Ceballos</span>
                                            <span class="time">24/05/20</span>
                                        </p>
                                    </li>
                                    <li class="person" data-chat="person2">
                                        <div class="user">
                                            <img src="../../img/profile.jpeg" alt=" ">
                                        </div>
                                        <p class="name-time">
                                            <span class="name">Axel Rogelio Alba García</span>
                                            <span class="time">24/05/2021</span>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-8 col-md-8 col-sm-9 col-9">
                            <div class="selected-user">
                                <div class="name-container">
                                    <span class="name">Axel Rogelio Alba García</span>
                                </div>
                                <div class="chat-btn">
                                    <input type="checkbox" checked data-toggle="toggle" data-on="Activado"
                                        data-off="Desactivado" data-onstyle="primary" data-offstyle="danger">
                                </div>
                            </div>
                            <div class="chat-container">
                                <div class="chat-box chatContainerScroll">
                                    <div class="d-flex justify-content-start mb-4">
                                        <div class="img_cont_msg">
                                            <img src="../../img/profile.jpeg"
                                                class="rounded-circle user_img_msg">
                                        </div>
                                        <div class="msg_cotainer">
                                            ¡Hola Pedro!
                                            <span class="msg_time">6:40</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end mb-4">
                                        <div class="msg_cotainer_send">
                                            ¡Hola Axel! ¿cómo estás? ¿qué extraño verte por aquí?
                                            <span class="msg_time_send">6:55</span>
                                        </div>
                                        <div class="img_cont_msg">
                                            <img src="../../img/profile.jpeg"
                                                class="rounded-circle user_img_msg">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start mb-4">
                                        <div class="img_cont_msg">
                                            <img src="../../img/profile.jpeg"
                                                class="rounded-circle user_img_msg">
                                        </div>
                                        <div class="msg_cotainer">
                                            Hace una semana empecé a trabajar cerca de aquí. Ya voy camino a casa.
                                            <span class="msg_time">7:00</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end mb-4">
                                        <div class="msg_cotainer_send">
                                            Estas lejos de tu casa. ¿dónde estás trabajando?
                                            <span class="msg_time_send">7:05</span>
                                        </div>
                                        <div class="img_cont_msg">
                                            <img src="../../img/profile.jpeg"
                                                class="rounded-circle user_img_msg">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start mb-4">
                                        <div class="img_cont_msg">
                                            <img src="../../img/profile.jpeg"
                                                class="rounded-circle user_img_msg">
                                        </div>
                                        <div class="msg_cotainer">
                                            En una clínica a un par de cuadras de acá.
                                            <span class="msg_time">7:07</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end mb-4">
                                        <div class="msg_cotainer_send">
                                            Bueno, yo también trabajo por aquí cerca, así que ahora nos veremos más seguido. Vayamos a tomarnos un trago y a ponernos al día.
                                            <span class="msg_time_send">7:10</span>
                                        </div>
                                        <div class="img_cont_msg">
                                            <img src="../../img/profile.jpeg"
                                                class="rounded-circle user_img_msg">
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-start mb-4">
                                        <div class="img_cont_msg">
                                            <img src="../../img/profile.jpeg"
                                                class="rounded-circle user_img_msg">
                                        </div>
                                        <div class="msg_cotainer">
                                            Excelente idea, a una cuadra hay un bar con buenos precios.
                                            <span class="msg_time">7:12</span>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end mb-4">
                                        <div class="msg_cotainer_send">
                                            Muy bien, vamos y sigamos charlando.
                                            <span class="msg_time_send">7:15</span>
                                        </div>
                                        <div class="img_cont_msg">
                                            <img src="../../img/profile.jpeg"
                                                class="rounded-circle user_img_msg">
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="input-group">
                                        <div class="input-group-append">
                                            <span class="input-group-text attach_btn"><i
                                                    class="fas fa-paperclip"></i></span>
                                        </div>
                                        <textarea name="mensaje" class="form-control type_msg"
                                            placeholder="Escribe aquí tu mensaje." style="resize: none;"></textarea>
                                        <div class="input-group-append">
                                            <span class="input-group-text send_btn"><i
                                                    class="fas fa-location-arrow"></i></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Row end -->
                </div>
            </div>
        </div>
        <!-- Row end -->
    </div>
    <!-- Content wrapper end -->
</div>